<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Picture>
    <Quality>80</Quality>
    <Width>224.25</Width>
    <Height>168.75</Height>
  </Picture>
  <Bookmark>
    <BridgeDeckBookmarkStartNo>1000000</BridgeDeckBookmarkStartNo>
    <SuperSpaceBookmarkStartNo>2000000</SuperSpaceBookmarkStartNo>
    <SubSpaceBookmarkStartNo>3000000</SubSpaceBookmarkStartNo>
  </Bookmark>
  <BridgeDeckSummaryTable No="20" Position="30" Component="40" Damage="40" DamageDescription="50" PictureNo="20" Comment="20">
  </BridgeDeckSummaryTable>
  <SuperSpaceSummaryTable No="30" Position="30" Component="40" Damage="40" DamageDescription="50" PictureNo="20" Comment="20">
  </SuperSpaceSummaryTable>
  <SubSpaceSummaryTable No="40" Position="30" Component="40" Damage="40" DamageDescription="50" PictureNo="20" Comment="20">
  </SubSpaceSummaryTable>
</configuration>