<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Picture>
      <Width>79.0</Width>    <!--office 中1磅(1 point)约等于0.03527厘米，1厘米约等于28.35磅-->
      <Height>59.4</Height>
    <MaxCompressSize>300</MaxCompressSize>
    <CompressQuality>90</CompressQuality>
    <CompressWidth>940.5</CompressWidth>
    <CompressHeight>0</CompressHeight>
</Picture>
  <Bookmark>
    <BridgeDeckBookmarkStartNo>1000000</BridgeDeckBookmarkStartNo>
    <SuperSpaceBookmarkStartNo>2000000</SuperSpaceBookmarkStartNo>
    <SubSpaceBookmarkStartNo>3000000</SubSpaceBookmarkStartNo>
  </Bookmark>
  <BridgeDeckSummaryTable No="12.5" Position="18.1" Component="22.8" Damage="28.1" DamagePosition="41.5" DamageDescription="41.5" PictureNo="19.9" Comment="25.0">
  </BridgeDeckSummaryTable>
  <SuperSpaceSummaryTable No="11.5" Position="18.1" Component="18.7" Damage="18.9" DamagePosition="38.5" DamageDescription="38.5" PictureNo="21.9" Comment="25.0">
  </SuperSpaceSummaryTable>
  <SubSpaceSummaryTable No="11.5" Position="18.1" Component="18.7" Damage="18.9" DamagePosition="38.5" DamageDescription="38.5" PictureNo="21.9" Comment="25.0">
  </SubSpaceSummaryTable>
  <General>
    <IntactStructNoInsertSummaryTable>true</IntactStructNoInsertSummaryTable>
  </General>
</configuration>