<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Picture>
      <Width>79.0</Width>    <!--office 中1磅(1 point)约等于0.03527厘米，1厘米约等于28.35磅-->
      <Height>59.4</Height>
    <MaxCompressSize>300</MaxCompressSize>    <!--int-->
    <CompressQuality>90</CompressQuality>    <!--int-->
    <CompressWidth>940.5</CompressWidth>    <!--double-->
    <CompressHeight>0</CompressHeight>    <!--double-->
</Picture>
  <Bookmark>
    <BridgeDeckBookmarkStartNo>1000000</BridgeDeckBookmarkStartNo>    <!--int-->
    <SuperSpaceBookmarkStartNo>2000000</SuperSpaceBookmarkStartNo>    <!--int-->
    <SubSpaceBookmarkStartNo>3000000</SubSpaceBookmarkStartNo>    <!--int-->
  </Bookmark>
  <BridgeDeckSummaryTable No="12.5" Position="18.1" Component="22.8" Damage="28.1" DamagePosition="41.5" DamageDescription="41.5" PictureNo="19.9" Comment="25.0">
  </BridgeDeckSummaryTable>
  <SuperSpaceSummaryTable No="11.5" Position="18.1" Component="18.7" Damage="18.9" DamagePosition="38.5" DamageDescription="38.5" PictureNo="21.9" Comment="25.0">
  </SuperSpaceSummaryTable>
  <SubSpaceSummaryTable No="11.5" Position="18.1" Component="18.7" Damage="18.9" DamagePosition="38.5" DamageDescription="38.5" PictureNo="21.9" Comment="25.0">
  </SubSpaceSummaryTable>
  <General>
    <SaveDocxFormat>false</SaveDocxFormat> <!--自动生成的报告是否保存为docx-->
    <PictureTableCellWidth>194.0</PictureTableCellWidth> <!--194mm约等于550磅，图片表格中单元格宽度，单位mm-->
    <DamageDescriptionInPictureSplitSymbol>$</DamageDescriptionInPictureSplitSymbol>
      <!--“外观检查”文件中,“图片描述”的分隔符，如果含有"$"，则每张图片分别自定义描述-->
    <PictureNoSplitSymbol>;</PictureNoSplitSymbol> <!--“外观检查”文件中“照片编号”分隔使用的符号-->
    <IntactStructNoInsertSummaryTable>true</IntactStructNoInsertSummaryTable>
    <IntactStructNoInsertSummaryTableString>/</IntactStructNoInsertSummaryTableString>
</General>
</configuration>