<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Picture>
    <Width>224.25</Width>
    <Height>168.75</Height>
    <MaxCompressSize>120</MaxCompressSize>
    <CompressQuality>90</CompressQuality>
</Picture>
  <Bookmark>
    <BridgeDeckBookmarkStartNo>1000000</BridgeDeckBookmarkStartNo>
    <SuperSpaceBookmarkStartNo>2000000</SuperSpaceBookmarkStartNo>
    <SubSpaceBookmarkStartNo>3000000</SubSpaceBookmarkStartNo>
  </Bookmark>
  <BridgeDeckSummaryTable No="40" Position="60" Component="70" Damage="80" DamageDescription="220" PictureNo="60" Comment="70">
  </BridgeDeckSummaryTable>
  <SuperSpaceSummaryTable No="40" Position="60" Component="70" Damage="80" DamageDescription="160" PictureNo="60" Comment="70">
  </SuperSpaceSummaryTable>
  <SubSpaceSummaryTable No="40" Position="60" Component="70" Damage="80" DamageDescription="160" PictureNo="60" Comment="70">
  </SubSpaceSummaryTable>
  <General>
    <IntactStructNoInsertSummaryTable>true</IntactStructNoInsertSummaryTable>
  </General>
</configuration>