<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="AutoCheckForUpdate" value="false"/>
    <add key="CommentColumnInsertTable" value="false"/>
    <add key="DeletePositionInBridgeDeck" value="true"/>
    <add key="DeletePositionInSuperSpace" value="false"/>
    <add key="CustomSummaryTableWidth" value="true"/>
  </appSettings>
</configuration>

