<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Picture>
    <Quality>80</Quality>
    <Width>224.25</Width>
    <Height>168.75</Height>
  </Picture>
  <Bookmark>
    <BridgeDeckBookmarkStartNo>1000000</BridgeDeckBookmarkStartNo>
    <SuperSpaceBookmarkStartNo>2000000</SuperSpaceBookmarkStartNo>
    <SubSpaceBookmarkStartNo>3000000</SubSpaceBookmarkStartNo>
  </Bookmark>
  <BridgeDeckSummaryTable>
    <add key="No" value="20"/>
    <add key="Position" value="30"/>
    <add key="Component" value="40"/>
    <add key="Damage" value="40"/>
    <add key="DamageDescription" value="50"/>
    <add key="PictureNo" value="20"/>
    <add key="Comment" value="20"/>
  </BridgeDeckSummaryTable>
</configuration>